body { margin: 0;}
a { text-decoration: none;}
.main { margin: 0 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;}

/*TYPOGRAFI*/
h1 {
    font-size: 48pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

h2 {
    color: #222222;
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
    margin: 32px 0 4px 0;
}

h3 {
    color: #222222;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

sub {
    font-size: 32pt;
    font-family: Arial, Helvetica, sans-serif;
}


.page__header {
    color: #222222;
    font-size: 32pt;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5% 0;
}

p {
    color: #222222;
    font-size: 16pt;
    font-family: garamond, serif;
    margin: 4px 0 8px 0;
}



/*MENU*/
.menu {
    background-color: #222222;
    border-bottom: 3px solid #FF890B;
    display: flex;
    flex-direction: column;
    
}

.menu__punkt {
    font-family: Arial, Helvetica, sans-serif;
    color: #E2E2E2;
    padding: 20px;
    text-decoration: none;
    font-size: 14pt;
    text-align: center;
}

.menu__punkt:hover {
    background-color: #FF890B;
    color: #222222;
    scale: 1.1 1;
    transition: cubic-bezier(.4, 0, .6, 1) 0.2s;
}



/*HERO SECTION*/
.hero__bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hero_image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
}

.hero__image {
    width: 200px;
    align-self: center;
    padding: 10% 0;
}

.hero__text {
    display: flex;
    flex-direction: column;
}

.hero__text--1 {
    text-align: center;
    color:#FF890B;
}

.hero__text--2 {
    text-align: center;
    color:#E2E2E2;
}




/*CTA SECTION*/
.ctasection {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.ctasection__text {
    color: #222222;
    font-size: 24pt;
}

.ctasection__button {
    background-color: #FF890B;
    color: #222222;
    border: 3px solid #222222;
    border-radius: 50px;
    padding: 20px 30px;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    transition: cubic-bezier(.4, 0, .6, 1) 0.2s;
    
}

.ctasection__button:hover {
    background-color: #222222;
    color: #FF890B;
    border: 3px solid #FF890B;
    scale: 1.1;
    cursor: pointer;
}

/*CARDS*/
.cardsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    color: #222222;
    border: 2px solid #222222;
    border-radius: 15px;
    text-align: center;
    margin: 15px 0;
}

.card__image {
    border-radius: 10px 10px 0 0;
    width: 100%;
}



/*FOOTER*/
.footer {
    background-color: #222222;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 10%;
}
@media only screen and (min-width: 720px) {
    .footer {
    padding: 3% 20%; 
}
}

.footer__info {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.footer__tekst {
    color: #E2E2E2;
}

.footer__findmigher {
    color: #E2E2E2;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}




/*KONTAKTSIDE*/
.contactform {
    border-radius: 15px;
    background-color:#E2E2E2;
    border: 2px solid #222222;
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;

}


label {
    font-family: Arial, Helvetica, sans-serif;
    
}

input[type=text] {
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type=email] {
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type=number] {
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=submit] {
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
    background-color: #FF890B;
    border: 2px solid #222222;
    border-radius: 50px;
    margin-top: 12px;
    padding: 12px;
    transition: cubic-bezier(.4,0,.6,1) 0.2s;
}

input[type=submit]:hover {
    color: #FF890B;
    background-color: #222222;
    border: 2px solid #FF890B;
    scale: 1.1;
    cursor: pointer;
}



/*VIDEO & ANIMATION*/
.section__movingart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.example__image {
    border-radius: 25px;
    padding: 10px;
    width: 400px;
}

.arrow {
    rotate: 90deg;
    width: 100px;
}

.example__video {
    border-radius: 25px;
    padding: 10px;
    width: 400px;
    
}



/*GRAFISK DESIGN*/
.section__thumbnails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.section__thumbnails--example {
    border-radius: 25px;
    border: 2px solid #222222;
    margin: 10px;
    width: 300px;
    height: auto;
}

.section__kortdesign {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.section__kortdesign--example {
    margin: 10px;
    width: 200px;
    height: auto;
}

.section__spilobjekter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.section__spilobjekter--example {
    border-radius: 25px;
    border: 2px solid #222222;
    margin: 10px;
    width: 300px;
    height: auto;
}


/*OM MIG*/
.ommig {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
}

.ommig__tekst {
    display: flex;
    flex-direction: column;
}

.ommig_billede {
    width: 300px;
}



/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
    .main {margin: 0 15%;}
    h1 {font-size: 64pt;}

/*MENU*/
    .menu {flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20%;}
    .menu__punkt {font-size: 16pt;}

/*HERO SECTION*/
    .hero__bg {padding: 1% 15%;}
    .hero__image {width: 300px;}

/*CARDS*/   
    .cardsection {flex-direction: column;   
    justify-content: space-evenly;}

/*GRAFISK DESIGN*/
    .section__thumbnails {flex-direction: row;}   
    .section__spilobjekter--example {width: 480px;} 

/*OM MIG*/
    .ommig_billede {width: 400px;}
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1200px) {
    .main {margin: 0 20%;}

/*TYPOGRAFI*/
    h1 {font-size: 64pt;}
    sub {font-size: 32pt;}
    .page__header {font-size: 48pt;}

/*MENU*/
    .menu {flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: 0 20%;}
    .menu__punkt {font-size: 18pt;}

/*HERO SECTION*/
    .hero__bg {padding: 1% 20%;
    flex-direction: row;
    justify-content: space-between;}
    .hero__image {width: 400px;
    justify-self: flex-start;
    align-self: flex-end;}
    .hero__text--1 {text-align: left;}
    .hero__text--2 {text-align: left;}

/*CARDS*/
    .cardsection {flex-direction: row;
    row-gap: 15px;       
    justify-content: center;
    align-items: center;}
    .card {margin: 15px}

/*GRAFISK DESIGN*/
    .section__thumbnails {flex-direction: row;}
    .section__spilobjekter--example {width: 720px;}

/*VIDEO & ANIMATION*/
    .section__movingart {flex-direction: row;
    align-items: center;
    justify-content: space-evenly;}
    .arrow {rotate: 0deg;}
    .example__video {width:auto; 
    height: 200px;}
    .example__image {width:auto; 
    height: 200px;}

/*OM MIG*/
    .ommig {flex-direction: row;}    
    .ommig_billede {width: 300px;}
}